header{
    max-width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

main,
footer{
    margin: 100px auto;
    max-width: 1000px;
}

#Logo img{
    height: 75px;
}