:root{
  background-image: url("/Images/backgroundImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    max-width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

header a{
    margin-right: 10px;
}

main{
    max-width: 960px;
    min-height: 500px;
    margin: 0px auto;
    padding: 50px 20px;
}

footer{
    max-width: 1000px;
    height: 100px;
    margin: 0px auto;
}

footer section{
   padding-left: 10px;
}

#Logo img{
    height: 100px;
}

#artimg{
    max-width: 980px;
}

.pagination{
    text-align: center;
}